


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    display: flex;
    align-items: center;
    
}

.wrapper {
    display: grid;
    background-color: white;
}

.logo {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}

.menu .navbar ul li a:hover {
    color: white;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: aliceblue;
}

.footer {
	background-color: red;
	color: white;
	padding: 20px 0;
	text-align: center;
}


main {
    background-color: grey;
    margin: 0;
    margin-left: 0;
    padding: 13rem;
}


.contenedor-productos {
    display: gird;
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
    background-position: center;
}

.producto-detalle {
    background-color: ghostwhite;
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: #ebe5e5;
    color: rgb(15, 15, 15);
    padding: .25rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 2px solid ;
}

.producto-agregar:hover {
    background-color: gainsboro;
    color: black;
}